// Body
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");
$body-bg: #f8fafc;
$tfont :'Proza Libre', sans-serif;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

